.background {
  background-image: url('../assets/background/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

ion-tab-bar {
  background-color: #212121;
}