<ion-app class="background">
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="dashboard" [disabled]="!user">
        <ion-icon name="library"></ion-icon>
        <ion-label>Mes liens</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="login" *ngIf="!user">
        <ion-icon name="log-in"></ion-icon>
        <ion-label>Connexion</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>