.available {
  color: green;
}

.unavailable {
  color: red;
}

.qrcode {
  width: 100%;
}

ion-card-content {
  padding-top: 17px;
}

ion-item {
  --background: #313131;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
}